.navbar{
    margin-bottom: 0!important;
    background-color: rgba(255,255,255,0.8);
}
.jumbotron{
    height: 500px;
    margin-top: 0!important;
    background-image: url(../images/image1.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;

}

.jumbotron2{
    height: 500px;
    margin-top: 0!important;
    background-image: url(../images/about.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.jumbotron h1{
    opacity: 0.9;
    padding-top: 210px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
.jumbotron p{
    text-align: center;
}
.caption{
    text-align: center;
}

input[type=text]:focus {
    width: 100%;
}
.jumbotron.about{
    background-image: url(../images/city.jpg);
    height: 400px;
}
.jumbotron.about h1{
    padding-top: 100px;
}
.about p{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 26px;
}
.h1-font{
    font-family: 'Raleway',sans-serif;
}
.panel-body{
    background-color: #e6e6e6;
    box-shadow: 10px 10px #b3b3b3;
}
.footerr{
  position: relative;
  clear: both;
}
.form-group.sign input {
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  font-size: 18px;
  color: black;
  font-weight: 300;
}
.hovereffect {
  text-align: center;
    font-family: Raleway, sans-serif;
    color: #e6e6e6;
}
.overlay a{
    font-family: 'Quicksand', sans-serif;
    font-size: large;
    color: #FFFFFF;
}
.hovereffect h3{
    color:#D9534F;
    font-family: 'Quicksand', sans-serif;
}