{% extends "frijay/base.html" %}
{% block title %} About Us {% endblock %}
{% load staticfiles %}

{% block body %}
<br>
<br>


        <h1>About Us</h1>
    <br>
 
    <div class="col-sm-8 col-md-6">
    <div class="jumbotron2">
            </div>
            </div>
	<div class="col-sm-8 col-md-6">
    <div class="about">
    <p>Frijay's mission is to help couples and individuals find a Jewish home to celebrate Shabbat dinner. <br><br>Many Jewish people in metropolitan areas may be away from their families. They may have nowhere to go for shabbat dinner. <br><br> Frijay provides an easy way to search, find, and request a seat to enjoy a family Shabbat dinner.</p>
</div>
</div>
     <div style="clear:both"></div>    


{% endblock %}



