{% extends "frijay/base.html" %}
{% load staticfiles %}

{% block title %}Reservation{% endblock %}

{% block title %}Events Page{% endblock %}
{% block body %}
<br>
<br>
<h1>This is the events page</h1>
{% autoescape off %}
{% for event in html_list %}
	<div class="row">
    <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
            <img src="{% static "images/image2.jpg" %}" alt="My image" />
            <div class="caption">
                <h3>{{event.title}}</h3>
                <p>{{event.address}}</p>
                <p>{{event.host}}</p>
                <p>{{event.date}}</p>
                <p>{{event.time}}</p>
                <p>{{event.openSeat}}</p>
                <p>{{event.additionalDetails}}</p>
            </div>
        </div>
    </div>
{% endfor %}
{% endautoescape %}
{% endblock %}
