{% extends "frijay/base.html" %}
{% load staticfiles %}
{% load reserv_exists %}
{% load is_host %}
{% load fetch_reservation %}


{% block title %}Events Page{% endblock %}
{% block body %}
<br>
<br>
<h1 style="font-family: 'Raleway', sans-serif">Events</h1>
{% autoescape off %}
{% for event in html_list %}
    <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
            <img src="{% static "images/image2.jpg" %}" alt="My image" />
            <div class="caption">
                 <a style="text-decoration:None;display:block;" href="/frijay/events/{{event.id}}"><div class="well well-sm">
                 {% if event.title|length <  26 %}
                    <h3>{{event.title}}</h3>
                    {% else %}
                    <h3>{{ event.title|truncatechars:22}}</h3>
                    {% endif %}
                    <p><b>Location: </b>{{ event.city }}</p>
                    <p><b>Date: </b>{{ event.date }}</p>
                    {% if event.openSeats > 0 %}
                    <h5>Open Seats: <span class="badge">{{ event.openSeats }}</span></h5>
                    {% else %}
                    <h5><i><b>Seats Filled</b></i></h5>
                    {% endif %}
                 </div></a>

                {% if user.is_authenticated %}
                    {% reservation_exists user event as exists %}
                    {% is_host event.title user as host %}
                    {% if host %}
                    <a style="text-decoration: none;" href="{% url 'myevents' %}"><span class="label label-info">You're The Host</span></a>
                    {% elif exists is False %}
                    {% if event.openSeats > 0 %}
                    <form method="POST">{% csrf_token %}
                        <button type="submit" class="btn btn-primary" value="{{event.title}}" name = "reserve">Reserve a Seat</button>
                    </form>
                    {% else %}
                    <span class="btn btn-default">Reservations Closed</span>
                    {% endif %}
                    {% else %}
                        {% fetch_reservation event.title user as res %}
                        {% if res.accept is None %}
                        <a style="text-decoration: none;" href="{% url 'reservation' %}"><span class="label label-warning">Request Sent - Pending Approval</span></a>
                        {% elif res.accept %}
                        <a style="text-decoration: none;" href="{% url 'reservation' %}"><span class="label label-success">Reservation Approved!</span></a>
                        {% elif not res.accept %}
                        <a style="text-decoration: none;" href="{% url 'reservation' %}"><span class="label label-danger">Reservation Declined by Host</span></a>
                        {% endif %}
                {% endif %}
                {% else %}
                    {% if event.openSeats > 0 %}
                    <a href="{% url 'login' %}?next=/frijay/events/", class="btn btn-primary">Reserve a Seat</a>
                    {% else %}
                    <span class="btn btn-default">Reservations Closed</span>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

{% endfor %}
     <div style="clear:both"></div>

{% endautoescape %}
{% endblock %}
