{% extends "frijay/base.html" %}
{% block title %} How It Works
{% endblock %}
{% load staticfiles %}

{% block body %}
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
<div class="jumbotron howitworks">
	<h1 class="display-3"> How It Works </h1>
    </div>
<div class="container guest">
    <div class="row">
        <h3 style="font-family: 'Josefin Sans'">A modern way to join a Shabbat-Dinner<br></h3>
    </div>
</div>
<div class="container">
    <h4 style="text-align: center;font-family: 'Josefin Sans';font-size: 30px">Join as a Guest</h4>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail" style="font-family: 'Josefin Sans'">
       <img src="{% static "images/image7.jpg" %}" alt="My image" />
      <div class="caption">
        <h3><span class="howitworks steps">Step One:</span> Join Firjay</h3>
        <p>Become a member of this new </p>
      </div>
    </div>
  </div>

    <div class="col-sm-6 col-md-4">
    <div class="thumbnail" style="font-family: 'Josefin Sans';">
       <img src="{% static "images/image7.jpg" %}" alt="My image" />
      <div class="caption">
        <h2>Step Two:</h2><h4> Join Frijay</h4>
        <p>Become a member of this new </p>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail" style="font-family: 'Josefin Sans'">
       <img src="{% static "images/image7.jpg" %}" alt="My image" />
      <div class="caption">
        <h2>Step Three:</h2><h4> Join a Dinner</h4>
        <p></p>
      </div>
    </div>
  </div>
</div>




{% endblock %}


