{% extends "frijay/base.html" %}
{% block title %} How It Works
{% endblock %}
{% load staticfiles %}

{% block body %}
<!--<style>-->
    <!--*{-->
        <!--border: dashed;-->
    <!--}-->
<!--</style>-->
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
<div class="jumbotron howitworks">
	<h1 class="display-3"> How It Works </h1>
    </div>
<div class="container guest">
    <div class="row">
        <h3 style="font-family: 'Josefin Sans'">A modern way to join a Shabbat-Dinner<br></h3>
    </div>
</div>
<div class="container">
    <h4 style="text-align: center;font-family: 'Josefin Sans';font-size: 45px">Join as a Guest</h4>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail howitworks" style="font-family: 'Josefin Sans'">
       <a href="/"><img src="{% static "images/image1.jpg" %}" alt="Join Frijay" /></a>
      <div class="caption">
        <h3><span class="howitworks steps">Step One:</span>  Join Frijay</h3>
        <p style="font-size: 15px">Become a member of this wonderful site and join many Shabbatable dinners around your area </p>
      </div>
    </div>
  </div>

    <div class="col-sm-6 col-md-4">
    <div class="thumbnail howitworks" style="font-family: 'Josefin Sans';">
       <a href="/events"><img src="{% static "images/image7.jpg" %}" alt="My image" /></a>
      <div class="caption">
        <h3><span class="howitworks steps">Step Two:</span>  Join a Dinner</h3>
        <p style="font-size: 15px"> After becoming a member, use the nav-bar on top of the page to get to the "Join a Dinner" page
        and reserve a seat for a dinner of your preference. Upon acceptance from the Host of that dinner, you will receive a text-message on your
        phone with the Host address and contact information. NOTE you can cancel your reservation at anytime by going into
        the "Dinners I'm Going to" page</p>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail howitworks" style="font-family: 'Josefin Sans'">
       <a href="/reservations"><img src="{% static "images/image6.jpg" %}" alt="My image" /></a>
      <div class="caption">
        <h3><span class="howitworks steps">Step Three:</span>  Enjoy the Dinner</h3>
        <p style="font-size: 15px">Use the given information of the Host in the confirmation text-message
        to reach the Dinner place and enjoy a traditional Shabbat Dinner</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <h4 style="text-align: center;font-family: 'Josefin Sans';font-size: 45px">Host a Dinner</h4>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail howitworks" style="font-family: 'Josefin Sans'">
       <a href="/"><img src="{% static "images/image1.jpg" %}" alt="My image" /></a>
      <div class="caption">
        <h3><span class="howitworks steps">Step One:</span>  Join Frijay</h3>
        <p style="font-size: 15px">Become a member of this wonderful site and login to the site. </p>
      </div>
    </div>
  </div>

    <div class="col-sm-6 col-md-4">
    <div class="thumbnail howitworks" style="font-family: 'Josefin Sans';">
       <a href="/host"><img src="{% static "images/background.jpg" %}" alt="My image" /></a>
      <div class="caption">
        <h3><span class="howitworks steps">Step Two:</span>  Host a Dinner</h3>
        <p style="font-size: 15px"> After logging in the nav-bar will give you an option of Hosting a Dinner. In
        the "Host a Dinner" page provide the information of your event and submit using "Host a Dinner" button. You can
        view the events you're hosting in the "Dinner I'm Hosting" page. </p>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail howitworks" style="font-family: 'Josefin Sans'">
       <a href="/myevents"><img src="{% static "images/image3.jpg" %}" alt="My image" /></a>
      <div class="caption">
        <h3><span class="howitworks steps">Step Three:</span>  Approve the guests</h3>
        <p style="font-size: 15px">Now that you are hosting an event, every time a guest reserve a seat in your event
            you will see the guest name under Pending Reservation section and only upon your approval the guest will be
        able to join the event. NOTE you can cancel the event at any time</p>
      </div>
    </div>
  </div>
</div>



{% endblock %}


