{% extends 'frijay/base.html' %}
{% load staticfiles %}

{% block title %}Frijay{% endblock %}

{% block body %}
<div class="jumbotron">
    {% if user.is_authenticated %}
        <h1>Welcome, {{ user.first_name }}!</h1>

    {% else %}
        <h1>Friday Dinner</h1>
        <p><a class="btn btn-danger btn-md" href="{% url 'signup' %}" role="button">Sign Up</a></p>
    {% endif %}
</div>
<hr class="featurette-divider">



<h3 style="text-align: center; font-family: 'Raleway', sans-serif ">Search For Events</h3>
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">

            <form class="form" role="form" method="post" action="{% url 'index' %}">
                    {% csrf_token %}
                     <div id="custom-search-input">
                         <div class="input-group col-md-12">
                        <input type="text" name="search" id="id_search" class="form-control input-lg"
                        placeholder="City">
                             <span class="input-group-btn">
                <button class="btn btn-info btn-lg" type="submit">
                        <i class="glyphicon glyphicon-search"></i></button>
                                 </span>
                             </div>
                         </div>
            </form>
        </div>
    </div>
</div>




<br><br>
<hr class="featurette-divider">
{% autoescape off %}
{% for event in Events %}
    <div class="col-sm-4 col-md-3">
        <div class="hovereffect">
        <div class="thumbnail index">
            <img src="{% static "images/image2.jpg" %}" alt="My image" />
            <div class="caption">
                {% if event.title|length <  30 %}
                    <a href="/events/{{event.id}}" style="text-decoration: none"><h3>{{event.title}}</h3></a>
                <h4>{{event.city}}</h4>
                {% else %}  
                    <a href="/events/{{event.id}}" style="text-decoration: none"> <h3>{{ event.title}}</h3></a>
                 <h4>{{event.city}}</h4>
                {% endif %}
                </div>
            </div>
            <div class="overlay">
                    <p><b>Host: </b>{{event.host}}</p>
                    <p><b>Location: </b>{{ event.city }}</p>
                     <p><b>Date: </b>{{ event.date }}</p>
                    <h5>Open Seats: <span class="badge">{{ event.openSeats }}</span></h5>
                <a href="/events/{{event.id}}" style="text-decoration: none"> More Details </a>
            </div>
        </div>
    </div>
{% empty %}
<div class="container">
    <div class="row">
        <p>Sorry, no events right now :( Please come back later.</p>
    </div>
</div>
{% endfor %}
{% endautoescape %}
{% endblock %}
