{% extends 'frijay/base.html' %}
{% load staticfiles %}
{% block title %}
    Index
{% endblock %}
{% block body %}
    <div class="jumbotron">
        <h1>Shabbatable</h1>
        <p>...</p>
        <p><a class="btn btn-primary btn-lg" href="signup.html" role="button">Sign Up</a></p>
    </div>
    <div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="{% static "images/rango.jpg" %}" alt="My image" />
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
    <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="{% static "images/rango.jpg" %}" alt="My image" />
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
    <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="{% static "images/rango.jpg" %}" alt="My image" />
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
    <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="{% static "images/rango.jpg" %}" alt="My image" />
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>


{% endblock %}
