{% extends 'frijay/base.html' %}
{% load staticfiles %}

{% block title %}Frijay{% endblock %}

{% block body %}
<div class="jumbotron">
    {% if user.is_authenticated %}
        <h1>Welcome, {{ user.first_name }}!</h1>

    {% else %}
        <h1>Friday Dinner</h1>
        <p><a class="btn btn-danger btn-md" href="{% url 'signup' %}" role="button">Sign Up</a></p>
    {% endif %}
</div>
<hr class="featurette-divider">
<h3 style="text-align: center">Search for Event</h3>
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="form-group">
            <input type="text" class="form-control" placeholder="Zip Code">
            </div>
            <button class="btn btn-md btn-danger btn-block" type="submit"
                        value="Submit">Search</button>
        </div>
    </div>
</div>


<br><br>
<hr class="featurette-divider">
{% autoescape off %}
{% for event in Events %}
    <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
            <img src="{% static "images/image2.jpg" %}" alt="My image" />
            <div class="caption">
                {% if event.title|length <  22 %}
                    <a href="/events/{{event.id}}" style="text-decoration: none"><h3>{{event.title}}</h3></a>
                <h4>{{event.city}}</h4>
                {% else %}  
                    <a href="/events/{{event.id}}" style="text-decoration: none"> <h3>{{ event.title|truncatechars:22}}</h3></a>
                 <h4>{{event.city}}</h4>
                {% endif %}
                    <p><b>Host: </b>{{event.host}}</p>
                    <p><b>Location: </b>{{ event.city }}</p>
                     <p><b>Date: </b>{{ event.date }}</p>
                    <h5>Open Seats: <span class="badge">{{ event.openSeats }}</span></h5>
            </div>
        </div>
    </div>
{% endfor %}
{% endautoescape %}
{% endblock %}
