{% extends "frijay/base.html" %}
{% load staticfiles %}

{% block title %}Reservation{% endblock %}

{% block body %}
<br>
<br>
<h1>Reservations</h1>
{% if user.is_authenticated %}
<h4>Current Reservations:</h4>
<ul>
	{% for x in reservations %}
	<li>
		{{ x.event.title }} -- {{ x.event.date}} at {{ x.event.time1 }} , Host: {{ x.event.host.first_name }} {{ x.event.host.last_name }}
		<form method="POST">{% csrf_token %}
			<button type="submit" value="{{ x.event.title }}" name="cancel">Cancel</button>
		</form>
	</li>
	{% endfor %}
</ul>
{% else %}
<p>Please log in</p>
{% endif %}

{% endblock %}
