{% extends 'frijay/base.html' %}
{% load staticfiles %}
{% block title %}Events Page{% endblock %}

{% block body %}
{% autoescape off %}

<br>
<br>
<br>
{% if user.is_authenticated %}
<div class="col-sm-8 col-md-6">
        <div class="thumbnail">
            <img src="{% static "images/image2.jpg" %}" alt="My image" />
            <div class="caption">
                </div>
                </div>
                </div>
<div class="col-sm-8 col-md-6">
        <div class="thumbnail">
            <div class="caption">
                <div class="well well-sm">
                    <h3>{{event_title}}</h3>
                </div>
                <p><b>Location: </b>{{event_city}}</p>
                <p><b>Host: </b>{{event_host}}</p>
                <p><b>Date: </b>{{event_date}}</p>
                <p><b>Start Time: </b>{{event_timefrom}}</p>
                <p><b>End Time: </b>{{event_timeto}}</p>
                <p><b>Seats Available: </b>{{event_seats}}</p>
                <p><b>Additional Info: </b>{{event_details}}</p>
                <a href="/frijay/events/">Back to events</a>
                </div>
                </div>
                </div>
              {% else %}
              <center>
<h1>Please sign up to view event's details</h1>
        <p><a class="btn btn-danger btn-md" href="{% url 'signup' %}" role="button">Sign Up</a></p>
   </center>

    {% endif %}

 <div style="clear:both"></div>


{% endautoescape %}
{% endblock %}
