{% extends "frijay/base.html" %}
{% load staticfiles %}

{% block title %}
	Register
{% endblock %}

{% block body %}
	<br />
	<br />
	{% if registered %}
		<strong>thank you for registering!</strong>
		<a href="{% url 'login' %}">Return to the homepage.</a><br />
	{% else %}

    <div class="container">
        <div class="row">
            <h1>Sign up with Frijay</h1>
        </div>
    </div>

<div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
        <form id="user_form" method="post" action="{% url 'signup' %}"
		enctype="multipart/form-data">
            {% csrf_token %}
          <div class="form-group">
            <label for="id_username">Username: </label>
            <input type="text" class="form-control" id="id_username" placeholder="Username" maxlength="30" name="username"/>
          </div>
          <div class="form-group">
            <label for="id_email">E-mail: </label>
            <input type="email" class="form-control" id="id_email" placeholder="Email" name="email">
          </div>
          <div class="form-group">
            <label for="id_password">Password: </label>
            <input class="form-control" type="password" id="id_password" name="password" placeholder="Password">
          </div>
            <div class="form-group">
                <label for="id_picture">Picture: </label>
                <input type="file" id="id_picture">
              </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
        </div>

</div>


	{% endif %}
{% endblock %}
